body{

	background-image: url('../images/background.jpg')
}

.panel{

	background-color: orange!important;
	color: white;
}

p{
	color: white;
}

#crystal11 {

	content:url('../images/ruby.jpg');
}

#crystal22 {

	content:url('../images/diamond.jpg');

}

#crystal33 {

	content:url('../images/emrald.jpg');
}

#crystal44 {

	content:url('../images/sapphire.jpg');
}